.cartHeader{
    position: relative;
    top: 10vh;
    display: flex;
    justify-content: left;
    
    align-items: start;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.cartHeader::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    top: 80px;
    background:rgba(233, 233, 233, 0.613);
}
.cartHeader h1{
    color: #fff;
    font-weight: 400;
}
.cart{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15vh;
    margin: 12.5%;
    margin-top: 0;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.986);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.73);
    min-height: max-content;
    padding: 30px;
    min-width: fit-content;
    width: 50%;
}
.cartItemsMap{
    display: flex;
    flex-direction: column;
}
.cartProducts{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: rgba(255, 255, 255, 0.986);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.73);
    min-height: max-content;
    width: 50%;
    position: relative;
}
.cartProduct{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    border: .5px #22222247 solid;
}
.productInformations{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productInformations img{
    width: 140px;
}
.productText{
    margin-left: 35px;
}
.productText h3{
    color: rgba(14, 15, 10, 0.668);
    position: relative;
    top: 6px;
}
.productText h2{
    color: rgba(14, 15, 10, 0.89);
    position: relative;
    bottom: 6px;
}
.price{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.price h3{
    color: #222222;
}
.price svg{
    cursor: pointer;
    stroke: #222222c1;
    margin-left: 30px;
}
.price svg:hover{
    stroke: #222222;
}
.subtotalinfo{
    background: rgba(255, 255, 255, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
    width: 40%;
    height: 100%;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    min-height: max-content;
    position: relative;
    margin-left: 30px;
    border: .5px #22222247 solid;
    display: flex;
    flex-direction: column;
}
.checkoutinfo::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background:rgba(14, 15, 10, 0.3);
    left: 0;
    top: 75px;
}
.checkoutinfo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background:rgba(14, 15, 10, 0.3);
    left: 0;
    top: 205px;
}
.checkoutinfo{
    display: flex;
    flex-direction: column;
    position: relative;
}
.summary{
    display: flex;
    flex-direction: column;
}
.summary h3{
    font-size: 24px;
    color: #222222;
}
.subtotalPricing h3{
    font-weight: 400;
    font-size: 22px;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subtotalPricing{
    margin-top: 10px;
}
.total{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.total h2{
    font-weight: 500;
    font-size: 25px;
    color: #222222;
}
.total h2 span{
    margin-left: 10px;
}
.total button{
    width: max-content;
    padding: 12px;
    border-radius: 6px;
    outline: none;
    border: none;
    height: 42px;
    font-size: 16px;
    background:#ff6452;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}
.total button svg{
    margin-right: 8px;
}
.cartFooter{
    top: 50vh;
}

.noStyle{
    border: none;
    background-color: none;
    background: transparent;
}

.error{
    display: flex;
    align-items: center;
    justify-content: center;
}

