.products a{
    text-decoration: none;
}
.products{
    position: relative;
    display: flex;
    flex-wrap: wrap;    
    gap: 20px;
    top: 19.5vh;
    margin-left: 8.5%;
    margin-right: 8.5%;
}
.product{
    width: 248px;
    display: grid;
    justify-content: start;
    height: max-content;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    cursor: pointer;
    margin-top: -14px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
}
.product::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    border-radius: 0 0 8px 8px;
    height: 80%;
    width: 100%;
    z-index: 2;
    background: rgb(14,15,10);
    background: linear-gradient(0deg, rgba(14,15,10,1) -10%, rgba(14,15,10,0) 65%);  
}
.product img{
    transform: scaleX(-1);
    position: relative;
    right: 30px;
    width: 250px;
    margin-top: 25px;
    z-index: 0;
}
.itemDesc{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    right: 10px;
    position: relative;
    margin-top: 25px;
    margin-right: 20px;
    line-height: 28px;
    z-index: 5;
}
.brand{
    font-size: 24px;
    font-weight: 900;
    color: rgb(14,15,10);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand svg{
    margin-right: 25px;
    width: 22px;
    height: 22px;
    padding: 4px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    transform: scale(0);
    transition: .1s;
    stroke: rgb(14,15,10);
}
.product:hover svg{
    transform: scale(1);
}
.product svg:hover{
    background: #ff6452;
    stroke: #fff;
}
.product svg:active{
    transform: translateY(2px);
}
.itemDesc .subtitle{
    font-size: 17px;
    font-weight: 400;
    color: rgb(233, 233, 233);
}
.itemDesc .title{
    font-size: 21px;
    font-weight: 600;
    color: rgb(233, 233, 233);
}
.price{
    font-size: 25px;
    font-weight: 600;
    color: rgb(233, 233, 233);
    margin-left:20px;
}
ul{
    list-style: none;
}