.Register{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin-left: 12%;
  margin-top: 6%;
}
.Regheader{
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
}
h1{
  padding: 0;
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
}
h4{
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  font-size: 1.3em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.787);
}
h4 a{
  color: #ff6452;
}
.Register form {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  width: 60% !important;
  align-items: flex-start;
}
.formName{
  width: 100% !important;
  display: flex;
  align-items: center;
}
.formName input:nth-child(2){
  margin-left: 16px;
  position: relative;
  left: 20px;
}
.Register form input{
  margin-top: 1.5rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.787);
  outline: none !important;
  border: none !important;
  font-size: 1.2rem;
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid #fff !important;
  border-radius: 0 !important;
}
.Register form button{
  margin-top: 40px;
  width: 170px;
  height: 46px;
  border-radius: 6px;
  background: #ff6452;
  border: none;
  font-size: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  box-shadow: 1px 1px 5px #ff6352a6;
}